language: cpp
sudo: required
dist: trusty
compiler:
  - clang
  - gcc
script:
  - cmake --build
env:
  global:
    - GCC_VERSION="4.9"
  matrix:
      - BUILD_TYPE=Debug
      - BUILD_TYPE=Release

before_install:
  - if [ "$CXX" == "clang++" ]; then export CXX="clang++" && bii cpp:build; fi
  - if [ "$CXX" == "g++" ];     then export CXX="g++"     && bii cpp:build; fi
  - sudo apt-get update -qq
  - git submodule update --init --recursive
install:
  - if [ "$CXX" = "g++" ]; then sudo apt-get install -qq "g++-${GCC_VERSION}"; fi
  - if [ "$CXX" = "g++" ]; then export CXX="g++-${GCC_VERSION}" CC="gcc-${GCC_VERSION}"; fi
  - if [ "$CXX" == "clang++" ]; then cwd=$(pwd); fi
  - if [ "$CXX" == "clang++" ]; then export CXXFLAGS="-std=c++0x -stdlib=libc++"; fi
  - if [ "$CXX" == "clang++" ]; then svn co --quiet http://llvm.org/svn/llvm-project/libcxx/trunk libcxx; fi
  - if [ "$CXX" == "clang++" ]; then cd libcxx/lib && bash buildit; fi
  - if [ "$CXX" == "clang++" ]; then sudo cp ./libc++.so.1.0 /usr/lib/; fi
  - if [ "$CXX" == "clang++" ]; then sudo mkdir /usr/include/c++/v1; fi
  - if [ "$CXX" == "clang++" ]; then cd .. && sudo cp -r include/* /usr/include/c++/v1/; fi
  - if [ "$CXX" == "clang++" ]; then cd /usr/lib && sudo ln -sf libc++.so.1.0 libc++.so; fi
  - if [ "$CXX" == "clang++" ]; then sudo ln -sf libc++.so.1.0 libc++.so.1 && cd $cwd; fi
  - wget http://apt.biicode.com/install.sh && chmod +x install.sh && ./install.sh
  - bii setup:cpp
  - bii --version
script:
  - bii cpp:configure -G "Unix Makefiles" -DCMAKE_CXX_COMPILER=$(which $CXX)
  - bii cpp:build
branches:
  only:
  - master
notifications:
  email: false
  slack: ijiteam:E9Rr8nKzl9hTppiVyvYAvzsZ
env:
  global:
  - LANG="en_US.UTF-8"
